body {
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
}

/* small margin around the main main div container */
main {
    margin: 2.9%;
}

/* styling for the visible content container */
#aboutme {
    background-color:rgb(215, 218, 214);
    padding: 20px;
    /* margin-top: 50px; */
}

 /* Small devices (landscape phones, 576px and up) */
 @media screen and (min-width: 576px) {
    main {
        width: 60%;
    }
}
