/* Google fonts loaded; copy and paste as needed
font-family: 'Viga', sans-serif;
*/

h1 {
    font-family: 'Viga', sans-serif;
}

/* repeating pattern backbground image */
body {
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
}

/* small margin around the main main div container */
main {
    margin: 2.9%;
}

/* styling for the visible content container */
#aboutme {
    background-color:rgb(215, 218, 214);
    padding: 20px;
}

/* Added top border to footer */
footer {
    border-top: solid 2px lawngreen;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
 /* Small devices (landscape phones, 576px and up) */
 @media screen and (min-width: 576px) {
    /* for larger screens, the width set to 60% of the page; smaller screens use 100% width */
    main {
        width: 60%;
    }
}
