body {
    /* Background credit: https://www.toptal.com/designers/subtlepatterns/ */
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
    /* background-size: cover; */
}

.main {
    /* width:100%; */
    margin: 3%;
}




#aboutme {
    background-color:rgb(215, 218, 214);
    padding: 9%;
    margin-top: 50px;
    border: dashed 1px yellowgreen;
}

.imgaboutme {
    margin-bottom: 1px;
}


#float {
    float: left;
    margin-right: 20px;
}

#row1 {
    /* background-color: teal; */
    /* border: blue dashed 1px; */
}

#row2 {
/* background-color: goldenrod; */
/* border: yellowgreen dashed 1px; */
}



/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .main {
        /* margin: 20%; */
        width: 65%;
    }
} 

@media screen and (min-width: 768x) {
    .main {
        width: 50%;
        background-color: teal; 
    }
} 

    
 

/* // X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }  */