body {
    /* Background credit: https://www.toptal.com/designers/subtlepatterns/ */
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
    /* background-size: cover; */
}

.main {
    /* width:100%; */
    margin: 2.9%;
    background-color: greenyellow;
}

#aboutme {
    background-color:rgb(215, 218, 214);
    padding: 9%;
    margin-top: 50px;
    border: dashed 1px yellowgreen;
}




#float {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
/* // Large devices (desktops, 992px and up) */
/* @media screen and (min-width: 992px) {
    .main {
        width: 60%;
    }
}  */
@media screen and (min-width: 576px) {
    .main {
        width: 60%;
    }
}  */

    
 

/* // X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }  */